<ion-view cache-view="false" view-title="Home">
    <ion-nav-buttons side="right">
        <button class="button button-clear ion-plus" ng-click="newRequest()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <a ng-repeat="requestStatus in allRequestStatus" class="item item-avatar-left" ng-href="#/tab/request-status/{{requestStatus.id}}">
                <h2 class="title">{{requestStatus.title}}</h2>
                <p>Total <span class="positive">{{requestStatus.totalNumber}}</span></p>
            </a>
        </ion-list>
    </ion-content>
</ion-view>