<ion-view view-title="{{title}}">
    <ion-content>
        <div class="list" ng-show="isNew">
            <label class="item item-input">
                <span class="input-label">Leave Type</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Leave From</span>
                <input type="date">
            </label>
            <label class="item item-input">
                <span class="input-label">Leave To</span>
                <input type="date">
            </label>
            <label class="item item-input">
                <span class="input-label">Leave Reason</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Leave Balance</span>
                <input type="number">
            </label>
            <label class="item item-input">
                <span class="input-label">Rasied By</span>
                <span class="text-center">{{request.raisedBy}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Rasied On</span>
                <span class="text-center">{{request.raisedOn}}</span>
            </label>
            <label class="item">
                <button class="button button-block button-positive" ng-click="submitRequest()">Submit</button>
            </label>
        </div>

        <div class="list" ng-show="!isNew">
            <label class="item item-input">
                <span class="input-label positive">Leave Type</span>
                <span class="text-center">{{request.leaveType}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label positive">Leave From</span>
                <span class="text-center">{{request.leaveFrom}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label positive">Leave To</span>
                <span class="text-center">{{request.leaveTo}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label positive">Leave Reason</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label positive">Leave Balance</span>
                <input type="number">
            </label>
            <label class="item">
                <button class="button button-block button-positive">Approve</button>
                <button class="button button-block button-positive">Reject</button>
            </label>
        </div>
    </ion-content>

</ion-view>
