<ion-view view-title="Request Detail">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label positive">Leave Type</span>
                <span class="text-center">{{request.leaveType}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label positive">Leave From</span>
                <span class="text-center">{{request.leaveFrom | date:'yyyy-MM-dd'}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label positive">Leave To</span>
                <span class="text-center">{{request.leaveTo | date:'yyyy-MM-dd'}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label positive">Leave Reason</span>
                <span class="text-center">{{request.leaveReason}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label positive">Leave Balance</span>
                <span class="text-center">{{request.leaveBalance}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label positive">Raised By</span>
                <span class="text-center">{{request.raisedBy}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label positive">Raised On</span>
                <span class="text-center">{{request.raisedOn | date:'mediumDate'}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label positive">Remarks</span>
                <input type="text" ng-model="request.remarks">
            </label>
            <button class="button button-block button-positive" ng-click="processRequest('approve')">Approve</button>
            <button class="button button-block button-positive" ng-click="processRequest('reject')">Reject</button>
        </div>
    </ion-content>
</ion-view>
